@charset "UTF-8";

/* 回答はここに書いてね */
.box{
  background-color: #eff3f4;
  width: 940px;
  margin: 0 auto;
  padding: 20px;
}
.main{
  font-size: 18px;
  line-height: 22px;
}
.img_left{
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
}
.img_right{
  margin-left: 20px;
  margin-bottom: 10px;
  float: right;
}
.clearfix:after{
  display: block;
  content: "";
  clear: both;
 }
 .para{
  word-break: break-all;
 }
/* 回答はここに書いてね */