@charset "UTF-8";

/* 回答はここに書いてね */

/* text */
.q6_text{
  width: auto;
  background-color: #e6f2ff;
  padding: 10px;
  text-align: center;
}
.align{
  display:inline-block;
}
/* margin */
.q6_margin{
  margin: 0 auto;
  width: 90px;
  text-align: center;
  background-color: #e6f2ff;
  padding: 10px;
}

/* table */
.inner{
  width: auto;
  display: table-cell;
  vertical-align: middle;
}
.outer{
  display: table;
  text-align: center;
}
.q6_3in{
  width: 40px;
  display: inline-block;
  background-color: #fff;
  padding: 10px;

}


/* flex */
.q6flex{
  display:flex;
  justify-content:center;
  align-items:center;
}

.flexin{
  background-color:#fff;
  padding:10px;
}


/* position */
.q6absolute{
  position:relative;
}

.absolute{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
}



.transouter{
  position:relative;
}

.transform{
  position:absolute;
  top:50%;
  left:50%;
  transform: translateY(-50%)translateX(-50%);
  -webkit-transform: translateY(-50%)translateX(-50%);
}
/* 回答はここに書いてね */
